<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>班主任查成绩</title>
  <!-- js -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
<script type="text/javascript">
$(document).ready(function(){


});
</script>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/index">班主任查成绩</a>
	        </div>
	        <div class="collapse navbar-collapse" id="navbar">
	        <ul class="nav navbar-nav">
	        <li class="active"><a href="#">成绩图表</a></li>
	        <li><a href="#">成绩数据</a></li>
	        </ul>
	        </div>
	      </div>
	</nav>


<div class="container">

  <div class="page-header">
  </div>
<div class="alert alert-info">本成绩信息更新于：{{ now }}</div>
<hr/>
  <h3>{{ title }}</h3>

<hr/>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>班排（专排）</th>
                <th>姓名</th>
                <th>平均学分绩点</th>
                <th>已修学分</th>
              </tr>
            </thead>
            <tbody>
            {% for data in datas %}
                <tr>
                <td>{{ forloop.counter }}({{ data.0 }})</td>
                <td><a href={{ data.4 }}>{{ data.1 }}</a></td>
                <td>{{ data.2 }}</td>
                <td>{{ data.3 }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>



</body>
</html>